.menu_item_delete {
	background: url("../../../system/admin/images/closebutton.png") no-repeat scroll center center transparent;
	float: right;
	text-indent: -9999px;
	width: 20px;
}

a.menu_item_edit,
a.menu_item_edit:active
 {
	float: right;
	margin-right: 0.5em;
	color: #fff !important;
	background: #333;
	padding: 2px 5px;
	font-size: 9px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;
	box-shadow: 1px 1px 3px #999;
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, Verdana, Sans-Serif;
}

a.menu_item_edit:hover {
	background: #555;
	text-decoration: none;
}


.edit_menu_dropbutton {
	/* ugly hack but for the time being this works. @TODO make this CSS clean */
	position: relative;
	width: 10px;
	left: 130px;
	top: 5px;
}	

div#title.formcontrol label,
div#link_name.formcontrol label,
div#link_url.formcontrol label {
	width: 70px;
	display: inline-block;
	font-weight: bold;
}

div#title.formcontrol input,
div#link_name.formcontrol input,
div#link_url.formcontrol input {
	width: 350px;
}

div#menu_form.container ul a {
	text-decoration: none;
	display: block;
}

div.token-input-dropdown {
	z-index: 1009 !important;
}

body.page-menus div#menu_form.container {
	min-height: 75px;
}

body.page-menus #menu_form.container label {
	display: inline-block;
	width: 7em;
}
